In [1]:
import pandas as pd
import numpy as np

In [2]:
sales = [('account',['AxisBank','ICICI','SBI']),
         ('Jan',[170,220,320]),
         ('Feb',[140,210,310]),
         ('Mar',[180,310,210])]

In [3]:
type(sales)

list

In [8]:
df = pd.DataFrame.from_items(sales)

print ('\n Balances in various accounts ')
print(df)
type(df)

 Balances in various accounts
    account  Jan  Feb  Mar
0  AxisBank  170  140  180
1     ICICI  220  210  310
2       SBI  320  310  210

pandas.core.frame.DataFrame

In [10]:
df1 = {'name': ['lexus','ferrari','mercedez'],
        'color':['red','white','blue'],
        'year':['2012','2014','2015'] }
print (df1)

{'color': ['red', 'white', 'blue'], 'name': ['lexus', 'ferrari', 'mercedez'], 'year': ['2012', '2014', '2015']}

In [37]:
df1_cars = pd.DataFrame({'name': ['lexus','ferrari','mercedez'],
        'color':['red','white','black'],
        'year':['2012','2014','2015'] },index = [0,1,2])
 # 
print (df1_cars)     
type(df1_cars)

   color      name  year
0    red     lexus  2012
1  white   ferrari  2014
2  black  mercedez  2015

pandas.core.frame.DataFrame

In [94]:
df2_cars = pd.DataFrame({'name': ['lexus','bmw','mercedez'],
        'color':['red','white','blue'],
        'year':['2013','2015','2016'] } ,index = [0,1,3] )

print (df2_cars)     
type(df2_cars)

   color      name  year
0    red     lexus  2013
1  white       bmw  2015
3   blue  mercedez  2016

pandas.core.frame.DataFrame

In [101]:
# concatenate the data frames row wise 
concat_df = pd.concat([df1_cars,df2_cars],axis=0)
print (concat_df)

   color      name  year
0    red     lexus  2012
1  white   ferrari  2014
2  black  mercedez  2015
0    red     lexus  2013
1  white       bmw  2015
3   blue  mercedez  2016

In [100]:
# concatenate the data frames column (axis=1) wise 
concat_df = pd.concat([df1_cars,df2_cars],axis=1)
print (concat_df)

   color      name  year  color      name  year
0    red     lexus  2012    red     lexus  2013
1  white   ferrari  2014  white       bmw  2015
2  black  mercedez  2015    NaN       NaN   NaN
3    NaN       NaN   NaN   blue  mercedez  2016

In [99]:
df_merge = pd.merge(df1_cars,df2_cars,how='inner',left_on='color',right_on='color')
print (df_merge)

   color   name_x year_x name_y year_y
0    red    lexus   2012  lexus   2013
1  white  ferrari   2014    bmw   2015

In [51]:
df_merge = pd.merge(df1_cars,df2_cars,how='right',left_on='color',right_on='color')
print (df_merge)
df_merge = pd.merge(df1_cars,df2_cars,on='color')
print (df_merge)

   color   name_x year_x    name_y year_y
0    red    lexus   2012     lexus   2013
1  white  ferrari   2014       bmw   2015
2   blue      NaN    NaN  mercedez   2016
   color   name_x year_x name_y year_y
0    red    lexus   2012  lexus   2013
1  white  ferrari   2014    bmw   2015

In [44]:
df_merge = pd.merge(df1_cars,df2_cars,how='outer')
print (df_merge)

   color      name  year
0    red     lexus  2012
1  white   ferrari  2014
2  black  mercedez  2015
3    red     lexus  2013
4  white       bmw  2015
5   blue  mercedez  2016

In [97]:
df_join = df2_cars.join(df1_cars,how='inner',lsuffix='_left',rsuffix='_right')
    
print (df_join)

  color_left name_left year_left color_right name_right year_right
0        red     lexus      2013         red      lexus       2012
1      white       bmw      2015       white    ferrari       2014

In [86]:
df2_cars

   color      name  year
0    red     lexus  2013
1  white       bmw  2015
2   blue  mercedez  2016

In [87]:
df1_cars

   color      name  year
0    red     lexus  2012
1  white   ferrari  2014
2  black  mercedez  2015