In [2]:
%run pandas_combiningdata.py

  colour_left name_left year_left colour_right name_right year_right
0         red       bmw      2012          NaN        NaN        NaN
1       white     lexus      2014          NaN        NaN        NaN
2       black   ferrari      2011          NaN        NaN        NaN
3        blue  mercedez      2016          NaN        NaN        NaN


  colour_left name_left year_left colour_right name_right year_right
4        grey      audi      2011          NaN        NaN        NaN
5       brown   hyundai      2014          NaN        NaN        NaN
6      yellow    maruti      2012          NaN        NaN        NaN
7       white      ford      2015          NaN        NaN        NaN


  colour      name  year  country units variant
0    red       bmw  2012  germany  2500  diesel
1  white     lexus  2014   france  4700  petrol
2  black   ferrari  2011       US  3250  petrol
3   blue  mercedez  2016       UK  6470  diesel

In [6]:
%run pandas_combiningdata.py

Concatenated dataframe of cars on default axis 0


   colour      name  year
0     red       bmw  2012
1   white     lexus  2014
2   black   ferrari  2011
3    blue  mercedez  2016
4    grey      audi  2011
5   brown   hyundai  2014
6  yellow    maruti  2012
7   white      ford  2015


Concatenated dataframe of cars on axis 1 i.e. using columns as axis


  colour      name  year  colour     name  year
0    red       bmw  2012     NaN      NaN   NaN
1  white     lexus  2014     NaN      NaN   NaN
2  black   ferrari  2011     NaN      NaN   NaN
3   blue  mercedez  2016     NaN      NaN   NaN
4    NaN       NaN   NaN    grey     audi  2011
5    NaN       NaN   NaN   brown  hyundai  2014
6    NaN       NaN   NaN  yellow   maruti  2012
7    NaN       NaN   NaN   white     ford  2015

In [7]:
%run pandas_combiningdata.py

Concatenated dataframe of cars on default axis 0


   colour      name  year
0     red       bmw  2012
1   white     lexus  2014
2   black   ferrari  2011
3    blue  mercedez  2016
4    grey      audi  2011
5   brown   hyundai  2014
6  yellow    maruti  2012
7   white      ford  2015


Concatenated dataframe of cars on axis 1 i.e. using columns as axis


  colour      name  year  colour     name  year
0    red       bmw  2012     NaN      NaN   NaN
1  white     lexus  2014     NaN      NaN   NaN
2  black   ferrari  2011     NaN      NaN   NaN
3   blue  mercedez  2016     NaN      NaN   NaN
4    NaN       NaN   NaN    grey     audi  2011
5    NaN       NaN   NaN   brown  hyundai  2014
6    NaN       NaN   NaN  yellow   maruti  2012
7    NaN       NaN   NaN   white     ford  2015


Concatenated dataframe of cars 1 with details on axis 1 i.e. using columns as axis

  colour      name  year  country units variant
0    red       bmw  2012  germany  2500  diesel
1  white     lexus  2014   france  4700  petrol
2  black   ferrari  2011       US  3250  petrol
3   blue  mercedez  2016       UK  6470  diesel

In [9]:
%run pandas_combiningdata.py

Subjects dataframe


  SectionId Semester  Subjects
0       Id1    First     Maths
1       Id2   Second   Science
2       Id3    First  Computer
3       Id4    Third   History


Students dataframe


  ClassId Students
4     Id4     John
5     Id1   Trevor
6     Id6    David
7     Id2    Chris


Merged dataframe

  SectionId Semester  Subjects ClassId Students
0       Id1    First     Maths     Id1   Trevor
1       Id2   Second   Science     Id2    Chris
2       Id3    First  Computer     NaN      NaN
3       Id4    Third   History     Id4     John
4       NaN      NaN       NaN     Id6    David

In [10]:
%run pandas_combiningdata.py

Subjects dataframe


  SectionId Semester  Subjects
0       Id1    First     Maths
1       Id2   Second   Science
2       Id3    First  Computer
3       Id4    Third   History


Students dataframe


  ClassId Students
4     Id4     John
5     Id1   Trevor
6     Id6    David
7     Id2    Chris


Merged dataframe

  SectionId Semester Subjects ClassId Students
0       Id1    First    Maths     Id1   Trevor
1       Id2   Second  Science     Id2    Chris
2       Id4    Third  History     Id4     John

In [11]:
%run pandas_combiningdata.py

Subjects dataframe


  SectionId Semester  Subjects
0       Id1    First     Maths
1       Id2   Second   Science
2       Id3    First  Computer
3       Id4    Third   History


Students dataframe


  ClassId Students
4     Id4     John
5     Id1   Trevor
6     Id6    David
7     Id2    Chris


Merged dataframe

  SectionId Semester  Subjects ClassId Students
0       Id1    First     Maths     Id1   Trevor
1       Id2   Second   Science     Id2    Chris
2       Id3    First  Computer     NaN      NaN
3       Id4    Third   History     Id4     John

In [12]:
%run pandas_combiningdata.py

Subjects dataframe


  SectionId Semester  Subjects
0       Id1    First     Maths
1       Id2   Second   Science
2       Id3    First  Computer
3       Id4    Third   History


Students dataframe


  ClassId Students
4     Id4     John
5     Id1   Trevor
6     Id6    David
7     Id2    Chris


Merged dataframe

  SectionId Semester Subjects ClassId Students
0       Id1    First    Maths     Id1   Trevor
1       Id2   Second  Science     Id2    Chris
2       Id4    Third  History     Id4     John
3       NaN      NaN      NaN     Id6    David

In [13]:
%run pandas_combiningdata.py

  colour_left name_left year_left colour_right name_right year_right
0         red       bmw      2012          NaN        NaN        NaN
1       white     lexus      2014          NaN        NaN        NaN
2       black   ferrari      2011          NaN        NaN        NaN
3        blue  mercedez      2016          NaN        NaN        NaN


  colour_left name_left year_left colour_right name_right year_right
4        grey      audi      2011          NaN        NaN        NaN
5       brown   hyundai      2014          NaN        NaN        NaN
6      yellow    maruti      2012          NaN        NaN        NaN
7       white      ford      2015          NaN        NaN        NaN


  colour      name  year  country units variant
0    red       bmw  2012  germany  2500  diesel
1  white     lexus  2014   france  4700  petrol
2  black   ferrari  2011       US  3250  petrol
3   blue  mercedez  2016       UK  6470  diesel