In [1]:
print("Om Mahaa Ganapataye Namah")

Om Mahaa Ganapataye Namah

In [2]:
import pandas as pd
import numpy as np

In [3]:
sales = [('account', ['Jones LLC', 'Alpha Co', 'Blue Inc']),
         ('Jan', [150, 200, 50]),
         ('Feb', [200, 210, 90]),
         ('Mar', [140, 215, 95]),
         ]
df = pd.DataFrame.from_items(sales)

print ('\n converted sales df')
print (df)

# List  Column oriented 

df21 = [('Brands',['bmw','lexus','Ferrai','Mercedez']),
       ('color', ['red','white','black','blue']),
       ('year',  ['2011','2012','2014','2016'])
       ]
'''
df21 = [('Brands',['bmw','lexus','Ferrai']),
       ('color', ['red','white','black']),
       ('year',  ['2011','2012','2014'])
       ]
'''
df2l = [('brands', ['Jones LLC', 'Alpha Co', 'Blue Inc']),
         ('Color', [150, 200, 50]),
         ('Year', [200, 210, 90]),
                ]

print '\n column oriented list df21'
print df21       
    

df22 = pd.DataFrame.from_items(df2)
print df22

df2 = pd.DataFrame([['bmw','red','2012'],['lexus','white','2014'],['Ferrai','black','2011'],
                    ['mercedez','blue','2016']  ]
                   ,columns= ['Brands','Color','year'],index=[0, 1, 2,3])

print(type(df2))
print('\n df2 data frame')
print(df2)

# Save the data frame as a .csv file 
df2.to_csv('D:/dat1/cars1_extract.csv',header=True)
df3 = pd.read_csv('D:/dat1/cars1_extract.csv',sep=',')
print '\n df3 data frame'
print df3

 converted sales df
     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

 column oriented list df21
[('Brands', ['bmw', 'lexus', 'Ferrai', 'Mercedez']), ('color', ['red', 'white', 'black', 'blue']), ('year', ['2011', '2012', '2014', '2016'])]

NameError: name 'df2' is not defined

In [104]:
# Select specific rows from the data frame
print '\n df3 row 2 to 4 data frame'
print (df3.loc[1:3])

# Select specific column based on specific row from  the data frame
print '\n df3 row 2 to 4 data frame'
print (df3.ix[1:3])

# Select the 2014 model car from df3 data frame
print '\n car models before 2014 '
print df3.loc[df3['year'] <2014 ]
# Select the 2014 model car from df3 data frame
print '\n car models before 2014 '

# Select the bmw cars  model before 2013 from df3 data frame
print '\n bmw car models before 2014 '
df4 = df3.set_index('Brands')

print '\n after setting the index '
print (df4)

print '\n bmw car models before 2014 '
print df4.loc['bmw']

# print df3.loc[df3['year' < 2014 & 'Brands' == "bmw"]]

# Change the brand name of all rows with an year greater than 2014 to "bmw"
# df3.loc[df3['year'] < 2014, "Brands"] = "bmw"

 df3 row 2 to 4 data frame
   Unnamed: 0    Brands  Color  year
1           1     lexus  white  2014
2           2    Ferrai  black  2011
3           3  mercedez   blue  2016

 df3 row 2 to 4 data frame
   Unnamed: 0    Brands  Color  year
1           1     lexus  white  2014
2           2    Ferrai  black  2011
3           3  mercedez   blue  2016

 car models before 2014
   Unnamed: 0  Brands  Color  year
0           0     bmw    red  2012
2           2  Ferrai  black  2011

 car models before 2014

 bmw car models before 2014

 after setting the index
          Unnamed: 0  Color  year
Brands
bmw                0    red  2012
lexus              1  white  2014
Ferrai             2  black  2011
mercedez           3   blue  2016

 bmw car models before 2014
Unnamed: 0       0
Color          red
year          2012
Name: bmw, dtype: object

In [4]:
df_cars1 ={'name': ['bmw', 'lexus', 'ferrari', 'mercedez'],
                                'colour': ['red', 'white', 'black', 'blue'],
                                'year': ('2012', '2014', '2011', '2016'),
                               }
print('\n Type of objects ')
print(df_cars1)
print(type(df_cars1))
    

df_cars1 = pd.DataFrame({'name': ['bmw', 'lexus', 'ferrari', 'mercedez'],
                                'colour': ['red', 'white', 'black', 'blue'],
                                'year': ['2012', '2014', '2011', '2016'],
                               })
print('\n 1st Data frame  ')
print(df_cars1)

df_cars2 = pd.DataFrame({'name': ['audi', 'hyundai', 'maruti', 'ford'],
                                'colour': ['grey', 'brown', 'yellow', 'white'],
                                'year': ['2011', '2014', '2012', '2015'],
                               },index=[4, 5,6,7])
print('\n 2nd Data frame ')
print(df_cars2)

 Type of objects
{'colour': ['red', 'white', 'black', 'blue'], 'name': ['bmw', 'lexus', 'ferrari', 'mercedez'], 'year': ('2012', '2014', '2011', '2016')}
<type 'dict'>

 1st Data frame
  colour      name  year
0    red       bmw  2012
1  white     lexus  2014
2  black   ferrari  2011
3   blue  mercedez  2016

 2nd Data frame
   colour     name  year
4    grey     audi  2011
5   brown  hyundai  2014
6  yellow   maruti  2012
7   white     ford  2015

In [5]:
df_cars1 = pd.DataFrame({'name': ['bmw', 'lexus', 'ferrari', 'mercedez'],
                                'colour': ['red', 'white', 'black', 'blue'],
                                'year': ['2012', '2014', '2011', '2016'],
                               },index=[0, 1, 2,3])

In [6]:
 df_cars2 = pd.DataFrame({'name': ['audi', 'hyundai', 'maruti', 'ford'],
                                'colour': ['grey', 'brown', 'yellow', 'white'],
                                'year': ['2011', '2014', '2012', '2015'],
                               },index=[4, 5,6,7])

In [7]:
print('\nCars from datafrme 1\n')
print(df_cars1)

Cars from datafrme 1

  colour      name  year
0    red       bmw  2012
1  white     lexus  2014
2  black   ferrari  2011
3   blue  mercedez  2016

In [8]:
print('\nCars from dataframe 2\n')
print(df_cars2)

Cars from dataframe 2

   colour     name  year
4    grey     audi  2011
5   brown  hyundai  2014
6  yellow   maruti  2012
7   white     ford  2015

In [9]:
# concatenate row wise
concat_frame = pd.concat([df_cars1,df_cars2],axis=0)
print(concat_frame)

   colour      name  year
0     red       bmw  2012
1   white     lexus  2014
2   black   ferrari  2011
3    blue  mercedez  2016
4    grey      audi  2011
5   brown   hyundai  2014
6  yellow    maruti  2012
7   white      ford  2015

In [10]:
print("\nConcatenated dataframe of cars on default axis 0\n")
print('\n'+str(concat_frame)+'\n')

Concatenated dataframe of cars on default axis 0


   colour      name  year
0     red       bmw  2012
1   white     lexus  2014
2   black   ferrari  2011
3    blue  mercedez  2016
4    grey      audi  2011
5   brown   hyundai  2014
6  yellow    maruti  2012
7   white      ford  2015

In [11]:
# concatenate column wise
concat_frame = pd.concat([df_cars1,df_cars2],axis=1)
print("\nConcatenated dataframe of cars on (column) axis 1\n")
print('\n'+str(concat_frame)+'\n')

Concatenated dataframe of cars on (column) axis 1


  colour      name  year  colour     name  year
0    red       bmw  2012     NaN      NaN   NaN
1  white     lexus  2014     NaN      NaN   NaN
2  black   ferrari  2011     NaN      NaN   NaN
3   blue  mercedez  2016     NaN      NaN   NaN
4    NaN       NaN   NaN    grey     audi  2011
5    NaN       NaN   NaN   brown  hyundai  2014
6    NaN       NaN   NaN  yellow   maruti  2012
7    NaN       NaN   NaN   white     ford  2015

In [12]:
df_car_details = pd.DataFrame({'country': ['germany', 'france', 'US', 'UK'],
                                'units': ['2500', '4700', '3250', '6470'],
                                'variant': ['diesel', 'petrol', 'petrol', 'diesel'],
                               },index=[0, 1,2,3])

print(df_car_details)

# Now lets try concatenate with the 3rd data frame
print("\nConcatenated dataframe of cars 1 with details on axis 1 i.e. using columns as axis\n")
print pd.concat([df_cars1,df_car_details],axis=1)

   country units variant
0  germany  2500  diesel
1   france  4700  petrol
2       US  3250  petrol
3       UK  6470  diesel

Concatenated dataframe of cars 1 with details on axis 1 i.e. using columns as axis

  colour      name  year  country units variant
0    red       bmw  2012  germany  2500  diesel
1  white     lexus  2014   france  4700  petrol
2  black   ferrari  2011       US  3250  petrol
3   blue  mercedez  2016       UK  6470  diesel

In [13]:
df_subject = pd.DataFrame({'SectionId': ['Id1', 'Id2', 'Id3', 'Id4'],
                                'Subjects': ['Maths', 'Science', 'Computer', 'History'],
                                'Semester': ['First','Second','First','Third']
                               },index=[0, 1, 2,3])

df_students = pd.DataFrame({'ClassId': ['Id4', 'Id1', 'Id6', 'Id2'],
                               'Students': ['John', 'Trevor', 'David', 'Chris'],
                               },index=[4,5,6,7])
merge_frame= pd.merge(df_subject,df_students,how='right',left_on='SectionId',right_on='ClassId')
print("\nSubjects dataframe\n")
print(merge_frame)

Subjects dataframe

  SectionId Semester Subjects ClassId Students
0       Id1    First    Maths     Id1   Trevor
1       Id2   Second  Science     Id2    Chris
2       Id4    Third  History     Id4     John
3       NaN      NaN      NaN     Id6    David

In [14]:
# if both df's joining column names are same.
df_subject = pd.DataFrame({'SectionId': ['Id1', 'Id2', 'Id3', 'Id4'],
                                'Subjects': ['Maths', 'Science', 'Computer', 'History'],
                                'Semester': ['First','Second','First','Third']
                               },index=[0, 1, 2,3])

df_students = pd.DataFrame({'SectionId': ['Id4', 'Id1', 'Id6', 'Id2'],
                               'Students': ['John', 'Trevor', 'David', 'Chris'],
                               },index=[4,5,6,7])
merge_frame= pd.merge(df_subject,df_students,on='SectionId')
print("\nSubjects dataframe\n")
print(merge_frame)

Subjects dataframe

  SectionId Semester Subjects Students
0       Id1    First    Maths   Trevor
1       Id2   Second  Science    Chris
2       Id4    Third  History     John

In [15]:

df_students = pd.DataFrame({'SectionId': ['Id4', 'Id1', 'Id6', 'Id2'],
                               'Students': ['John', 'Trevor', 'David', 'Chris'],
                               },index=[4,5,6,7])
print('\n'+str(df_subject)+'\n')
print("\nStudents dataframe\n")
print('\n'+str(df_students)+'\n')
print("\nMerged dataframe\n")
print merge_frame

  SectionId Semester  Subjects
0       Id1    First     Maths
1       Id2   Second   Science
2       Id3    First  Computer
3       Id4    Third   History


Students dataframe


  SectionId Students
4       Id4     John
5       Id1   Trevor
6       Id6    David
7       Id2    Chris


Merged dataframe

  SectionId Semester Subjects Students
0       Id1    First    Maths   Trevor
1       Id2   Second  Science    Chris
2       Id4    Third  History     John

In [16]:
# if both df's joining column names are same.
df_subject = pd.DataFrame({'SectionId': ['Id1', 'Id2', 'Id3', 'Id4'],
                                'Subjects': ['Maths', 'Science', 'Computer', 'History'],
                                'Semester': ['First','Second','First','Third']
                               },index=[0, 1, 2,3])
df_students = pd.DataFrame({'ClassId': ['Id4', 'Id1', 'Id6', 'Id2'],
                               'Students': ['John', 'Trevor', 'David', 'Chris'],
                               },index=[4,5,6,7])
merge_frame= pd.merge(df_subject,df_students,how='inner',left_on='SectionId',right_on='ClassId')
print("\nMerged dataframe\n")
print merge_frame

Merged dataframe

  SectionId Semester Subjects ClassId Students
0       Id1    First    Maths     Id1   Trevor
1       Id2   Second  Science     Id2    Chris
2       Id4    Third  History     Id4     John

In [17]:
merge_frame= pd.merge(df_subject,df_students,how='left',left_on='SectionId',right_on='ClassId')
print("\nMerged dataframe\n")
print merge_frame

Merged dataframe

  SectionId Semester  Subjects ClassId Students
0       Id1    First     Maths     Id1   Trevor
1       Id2   Second   Science     Id2    Chris
2       Id3    First  Computer     NaN      NaN
3       Id4    Third   History     Id4     John

In [18]:
merge_frame= pd.merge(df_subject,df_students,how='outer',left_on='SectionId',right_on='ClassId')
print("\nMerged dataframe\n")

print merge_frame

Merged dataframe

  SectionId Semester  Subjects ClassId Students
0       Id1    First     Maths     Id1   Trevor
1       Id2   Second   Science     Id2    Chris
2       Id3    First  Computer     NaN      NaN
3       Id4    Third   History     Id4     John
4       NaN      NaN       NaN     Id6    David

In [19]:
#Joining Dataframe cars 2 to dataframe cars 1
print  pd.DataFrame.join(df_cars1,df_cars2,lsuffix='_left',rsuffix='_right')
print("\n")
#Joining Dataframe cars 1 to dataframe cars 2
print  pd.DataFrame.join(df_cars2,df_cars1,lsuffix='_left',rsuffix='_right')
print("\n")
# Joining dataframe car details to cars1 ,having same indexes
print  pd.DataFrame.join(df_cars1,df_car_details)

  colour_left name_left year_left colour_right name_right year_right
0         red       bmw      2012          NaN        NaN        NaN
1       white     lexus      2014          NaN        NaN        NaN
2       black   ferrari      2011          NaN        NaN        NaN
3        blue  mercedez      2016          NaN        NaN        NaN


  colour_left name_left year_left colour_right name_right year_right
4        grey      audi      2011          NaN        NaN        NaN
5       brown   hyundai      2014          NaN        NaN        NaN
6      yellow    maruti      2012          NaN        NaN        NaN
7       white      ford      2015          NaN        NaN        NaN


  colour      name  year  country units variant
0    red       bmw  2012  germany  2500  diesel
1  white     lexus  2014   france  4700  petrol
2  black   ferrari  2011       US  3250  petrol
3   blue  mercedez  2016       UK  6470  diesel

In [21]:
# Merge multiple dataframes
df1 = pd.DataFrame(np.array([
    ['a', 5, 9],
    ['b', 4, 61],
    ['c', 24, 9]]),
    columns=['name', 'attr11', 'attr12'])
df2 = pd.DataFrame(np.array([
    ['a', 5, 19],
    ['b', 14, 16],
    ['c', 4, 9]]),
    columns=['name', 'attr21', 'attr22'])
df3 = pd.DataFrame(np.array([
    ['a', 15, 49],
    ['b', 4, 36],
    ['c', 14, 9]]),
    columns=['name', 'attr31', 'attr32'])

pd.merge(pd.merge(df1,df2,on='name'),df3,on='name')

  name attr11 attr12 attr21 attr22 attr31 attr32
0    a      5      9      5     19     15     49
1    b      4     61     14     16      4     36
2    c     24      9      4      9     14      9