In [1]:
print ("Hello World")

Hello World

In [5]:
import pandas as pd
NYC_SnowAvgsData={'Months' :
['January','February','March',
'April', 'November', 'December'],
'Avg SnowDays' : [4.0,2.7,1.7,0.2,0.2,2.3],
'Avg Precip. (cm)' : [17.8,22.4,9.1,1.5,0.8,12.2],
'Avg Low Temp. (F)' : [27,29,35,45,42,32] }

In [6]:
NYC_SnowAvgsData

{'Avg Low Temp. (F)': [27, 29, 35, 45, 42, 32],
 'Avg Precip. (cm)': [17.8, 22.4, 9.1, 1.5, 0.8, 12.2],
 'Avg SnowDays': [4.0, 2.7, 1.7, 0.2, 0.2, 2.3],
 'Months': ['January', 'February', 'March', 'April', 'November', 'December']}

In [7]:
NYC_SnowAvgs=pd.DataFrame(NYC_SnowAvgsData,
index=NYC_SnowAvgsData['Months'],
columns=['Avg SnowDays','Avg Precip. (cm)',
'Avg Low Temp. (F)'])
NYC_SnowAvgs

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January            4.0              17.8                 27
February           2.7              22.4                 29
March              1.7               9.1                 35
April              0.2               1.5                 45
November           0.2               0.8                 42
December           2.3              12.2                 32

In [8]:
NYC_SnowAvgs.loc['January']

Avg SnowDays          4.0
Avg Precip. (cm)     17.8
Avg Low Temp. (F)    27.0
Name: January, dtype: float64

In [9]:
NYC_SnowAvgs.loc[['January','April']]

         Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January           4.0              17.8                 27
April             0.2               1.5                 45

In [10]:
# to specify the range using label range 
NYC_SnowAvgs.loc['January':'March']

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January            4.0              17.8                 27
February           2.7              22.4                 29
March              1.7               9.1                 35

In [11]:
NYC_SnowAvgs.loc['Avg SnowDays']

KeyError: 'the label [Avg SnowDays] is not in the [index]'

In [12]:
NYC_SnowAvgs.loc[:,'Avg SnowDays']

January     4.0
February    2.7
March       1.7
April       0.2
November    0.2
December    2.3
Name: Avg SnowDays, dtype: float64

In [13]:
NYC_SnowAvgs.loc['March','Avg SnowDays']

1.7

In [14]:
NYC_SnowAvgs.loc['March']['Avg SnowDays']

1.7

In [15]:
# Selection using a Boolean array
NYC_SnowAvgs.loc[NYC_SnowAvgs['Avg SnowDays']<1,:]

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
April              0.2               1.5                 45
November           0.2               0.8                 42

In [17]:
SpotCrudePrices_2013.loc[:,SpotCrudePrices_2013.loc['2013-Q1']>110]

NameError: name 'SpotCrudePrices_2013' is not defined

In [20]:
# Integer-oriented indexing
import scipy.constants as phys
import math
sci_values=pd.DataFrame([[math.pi, math.sin(math.pi), math.cos(math.pi)], [math.e,math.log(math.e), phys.golden],  \
                         [phys.c,phys.g,phys.e],[phys.m_e,phys.m_p,phys.m_n]], index=list(range(0,20,5))

SyntaxError: invalid syntax (<ipython-input-20-266c014177ef>, line 4)

In [32]:
stock = pd.read_csv("D:/dat1/nasdaq_stock_price.csv",sep=",")

In [33]:
stock.head()

  TradingDate   Nasdaq  S&P 500  Russell 2000
0  2014/01/30  4123.13  1794.19       1139.36
1  2014/01/31  4103.88  1782.59       1130.88
2  2014/02/03  3996.96  1741.89       1094.58
3  2014/02/04  4031.52  1755.20       1102.84
4  2014/02/05  4011.55  1751.64       1093.59

In [34]:
stock

  TradingDate   Nasdaq  S&P 500  Russell 2000
0  2014/01/30  4123.13  1794.19       1139.36
1  2014/01/31  4103.88  1782.59       1130.88
2  2014/02/03  3996.96  1741.89       1094.58
3  2014/02/04  4031.52  1755.20       1102.84
4  2014/02/05  4011.55  1751.64       1093.59
5  2014/02/06  4057.12  1773.43       1103.93

In [35]:
stockIdx=stock.set_index('TradingDate')
stockIdx

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36
2014/01/31   4103.88  1782.59       1130.88
2014/02/03   3996.96  1741.89       1094.58
2014/02/04   4031.52  1755.20       1102.84
2014/02/05   4011.55  1751.64       1093.59
2014/02/06   4057.12  1773.43       1103.93

In [37]:
stockIdx.ix['2014/01/30']

Nasdaq          4123.13
S&P 500         1794.19
Russell 2000    1139.36
Name: 2014/01/30, dtype: float64

In [38]:
stockIdx.ix[['2014/01/30']]

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36

In [39]:
stockIdx.ix[['2014/01/30','2014/01/31']]

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36
2014/01/31   4103.88  1782.59       1130.88

In [40]:
# Note the difference in the output between using a single label versus using a
# list containing just a single label. The former results in a series and the latter,
# a DataFrame:

In [41]:
type(stockIdx.ix['2014/01/30'])
type(stockIdx.ix[['2014/01/30']])

pandas.core.frame.DataFrame

In [45]:
tradingDates=stock.TradingDate

In [54]:
stockIdx.ix[tradingDates[:3]]

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36
2014/01/31   4103.88  1782.59       1130.88
2014/02/03   3996.96  1741.89       1094.58

In [48]:
stockIdx.ix[0]

Nasdaq          4123.13
S&P 500         1794.19
Russell 2000    1139.36
Name: 2014/01/30, dtype: float64

In [49]:
stockIdx.ix[[0,2]]

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36
2014/02/03   3996.96  1741.89       1094.58

In [50]:
stockIdx.ix[1:3]

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/31   4103.88  1782.59       1130.88
2014/02/03   3996.96  1741.89       1094.58

In [53]:
stockIdx.ix[stockIdx['Russell 2000']>1100]

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36
2014/01/31   4103.88  1782.59       1130.88
2014/02/04   4031.52  1755.20       1102.84
2014/02/06   4057.12  1773.43       1103.93