In [22]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
df1 = [('Brands',['bmw','Ford','Alto','Mercedez']),
       ('color',['red','white','ash green','blue']),
        ('year of make',['2010','2012','2016','2017'])           
      ]

In [3]:
df1

[('Brands', ['bmw', 'Ford', 'Alto', 'Mercedez']),
 ('color', ['red', 'white', 'ash green', 'blue']),
 ('year of make', ['2010', '2012', '2016', '2017'])]

In [4]:
type(df1)

list

In [5]:
carsDf = pd.DataFrame.from_items(df1)
type(carsDf)

pandas.core.frame.DataFrame

In [6]:
carsDf

     Brands      color year of make
0       bmw        red         2010
1      Ford      white         2012
2      Alto  ash green         2016
3  Mercedez       blue         2017

In [17]:
carsDf.to_csv("D:/dat6/cars2.csv", index=False)

In [64]:
cars2 = pd.read_csv('D:/dat6/cars2.csv',sep=',')

In [25]:
cars2.tail(2)

     Brands      color  year of make
2      Alto  ash green          2016
3  Mercedez       blue          2017

In [26]:
type(cars2)

pandas.core.frame.DataFrame

In [42]:
carsDf1 = pd.DataFrame([['ford','red','2016'],['alto','blue','2017']],
                        columns = ['Brands','color','year of make']
                                              )
type(carsDf1)

pandas.core.frame.DataFrame

In [38]:
carsDf1

  Brands Color Year of make
0   ford   red         2016
1   alto  blue         2017

In [31]:
cars2[1:3]

  Brands      color  year of make
1   Ford      white          2012
2   Alto  ash green          2016

In [32]:
cars2

     Brands      color  year of make
0       bmw        red          2010
1      Ford      white          2012
2      Alto  ash green          2016
3  Mercedez       blue          2017

In [33]:
carsDf1

  Brands Color Year of Make
0   ford   red         2016
1   alto  blue         2017

In [43]:
concat_df = pd.concat([cars2,carsDf1],axis=0)
print(concat_df)

     Brands      color year of make
0       bmw        red         2010
1      Ford      white         2012
2      Alto  ash green         2016
3  Mercedez       blue         2017
0      ford        red         2016
1      alto       blue         2017

In [44]:
concat_df = pd.concat([cars2,carsDf1],axis=1)
print(concat_df)

     Brands      color year of make Brands color year of make
0       bmw        red         2010   ford   red         2016
1      Ford      white         2012   alto  blue         2017
2      Alto  ash green         2016    NaN   NaN          NaN
3  Mercedez       blue         2017    NaN   NaN          NaN

In [46]:
cars2

     Brands      color  year of make
0       bmw        red          2010
1      Ford      white          2012
2      Alto  ash green          2016
3  Mercedez       blue          2017

In [47]:
cars2.loc[0]

Brands           bmw
color            red
year of make    2010
Name: 0, dtype: object

In [49]:
cars2[0:2]

  Brands  color  year of make
0    bmw    red          2010
1   Ford  white          2012

In [52]:
cars2.loc[cars2.Brands == 'bmw']

  Brands color  year of make
0    bmw   red          2010

In [62]:
cars2.rename(columns = {'year of make':'year_of_make'}, inplace=True)

In [66]:
cars2.columns

Index([u'Brands', u'color', u'year of make'], dtype='object')

In [70]:
cars2.columns = cars2.columns.str.replace(' ','_')

In [78]:
cars2[(cars2.year_of_make > 2010) & (cars2.color != 'white')]

     Brands      color  year_of_make
2      Alto  ash green          2016
3  Mercedez       blue          2017