In [7]:
import numpy as np
import pandas as pd 
import scipy as sc
import matplotlib as plt
import seaborn as sns

In [50]:
l1 = [2,4,6,8,10,12,14]
l2 = [5,6,10 ]
l3 = l1 + l2

In [26]:
print l1[1:3]
print l1[:1]
print l1[-1:]
print l1[::2]
print (l2)

[4, 6]
[2]
[8]
[2, 6]
[10, 4, 6, 8]

In [30]:
print l1[1:]
print l1[:1]
print l1[::3]

[4, 6, 8, 10, 12, 14]
[2]
[2, 8, 14]

In [11]:
l1[0]=10

In [12]:
l1

[10, 4, 6, 8]

In [13]:
l2

[10, 4, 6, 8]

In [14]:
x=10
y=x+20
print y
del x  # in R  rm()

30

In [18]:
list = [ 'abcd', 786 , 2.23, 'â€˜john', 70.2 ]

In [ ]:
list[1:3]

In [33]:
x='computer'
print x[1:6:2]

opt

In [36]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
print list[2:]  # R equivalent list[3:]

[2.23, 'john', 70.2]

In [41]:
xl = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
type(xl)

list

In [48]:
ylist = [123, 'john']
ylist * 3

[123, 'john', 123, 'john', 123, 'john']

In [49]:
fruit_list1 = ['Apple', 'Berry', 'Cherry', 'Papaya']
fruit_list2 = fruit_list1
fruit_list3 = fruit_list1[:]

In [52]:
l3

[2, 4, 6, 8, 10, 12, 14, 5, 6, 10]

In [54]:
l3[:]

[2, 4, 6, 8, 10, 12, 14, 5, 6, 10]

In [55]:
l4 = l3[:]

In [56]:
fruit_list2[0] = 'Guava'
fruit_list3[1] = 'Kiwi'

In [57]:
fruit_list2

['Guava', 'Berry', 'Cherry', 'Papaya']

In [58]:
fruit_list3

['Apple', 'Kiwi', 'Cherry', 'Papaya']

In [59]:
fruit_list1

['Guava', 'Berry', 'Cherry', 'Papaya']

In [64]:
s = 'computer'
type(s)

str

In [67]:
s1 = []
type(s1)

list

In [68]:
s1 = [s]
type(s1)

list

In [72]:
print (len(fruit_list1))

4

In [75]:
init_tuple_a = '1', '2'
type(init_tuple_a)

tuple

In [76]:
print (init_tuple_a.__len__())

2

In [77]:
print (len(init_tuple_a))

2

In [78]:
init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')

print (init_tuple_a == init_tuple_b)

True

In [81]:
init_tuple = ((1, 2),) * 7 
print (init_tuple)
print(len(init_tuple[3:8]))

((1, 2), (1, 2), (1, 2), (1, 2), (1, 2), (1, 2), (1, 2))
4

In [82]:
a=[1,2,3,4,5,6,7,8,9]
a[::2]=10,20,30,40,50,60
print(a)

ValueError: attempt to assign sequence of size 6 to extended slice of size 5

In [84]:
a[2]=10
a[2:]=10

TypeError: can only assign an iterable

In [85]:
# starting from 4 and increment by -1 from the position of 4
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

In [90]:
init_tuple_a = 1, 2
init_tuple_b = (3, 4)

print (init_tuple_a + init_tuple_b)

(1, 2, 3, 4)

In [91]:
print init_tuple_a * 2

(1, 2, 1, 2)

In [92]:
init_tuple_a1 = init_tuple_a 
init_tuple_a1

(1, 2)

In [95]:
init_tuple_a1[0:2]

(1, 2)

In [97]:
init_tuple_a1 += (55,)
init_tuple_a1

(1, 2, 55)

#### Define  Dictionary

In [100]:
dict2 = {'Lenova':14324,'Dell':42000}
print(dict2)
type(dict2)

{'Lenova': 14324, 'Dell': 42000}

dict

In [101]:
dict2['Dell']

42000

In [103]:
dict2.values()

[14324, 42000]

In [104]:
dict2.keys()

['Lenova', 'Dell']

In [105]:
dict2['Lenova'] = 'dfd'

In [106]:
dict2

{'Dell': 42000, 'Lenova': 'dfd'}

In [108]:
dict2 = {'Lenova':14324,'Dell':42000,'Lenova':14326}
print(dict2)
type(dict2)

{'Lenova': 14326, 'Dell': 42000}

dict

In [109]:
a = {(1,2):1,(2,3):2}
print(a[1,2])

1

In [110]:
a.keys()

[(1, 2), (2, 3)]

In [111]:
a.values()

[1, 2]

In [114]:
dict2.pop('Lenova')

14326

In [115]:
dict2

{'Dell': 42000}

In [117]:
s22 = {2,4,5,6}
type(s22)

set

In [119]:
4 in s22

True

In [124]:
4 not in s22

False

In [122]:
type(x11)

bool

In [125]:
s23 = s22

In [126]:
s23

{2, 4, 5, 6}

In [127]:
my_set = {1,3}
print(my_set)

set([1, 3])

In [128]:
my_set.add(2)
my_set

{1, 2, 3}

In [129]:
my_set.update([2,3,4])
my_set

{1, 2, 3, 4}

In [136]:
def compute_billamt(gtot1,gst):
    Netbillamt = (gtot1 - gst)
    return Netbillamt

In [137]:
compute_billamt(10000,5000)

5000

In [138]:
Net = compute_billamt

In [139]:
Net(20000,10000)

10000